*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    font-family: "Main-font";
    color: #57656B;
    font-weight: 600;
}

@font-face {
    font-family: "Main-font";
    src: url(./Assets/Fonts/Poppins/Poppins-Medium.ttf);
}

#nav-links h2 a{
    font-size: 14px;
    padding: 10px 12px;
}
#nav-links-end h2 a{
    font-size: 14px;
}
#nav-end-a{
    border: 1px solid #57656B;
    padding: 9px 13px;
    border-radius: 10px;
}
#main-banner{
    background-image: url(./Assets/Imgs/main-banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}